.polaroid-photo {
  /* display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; */
}

.polaroid-text {
  margin: 24px 24px 12px 24px;
  position: relative;
}

.app-hashtags {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 0px;
}
.app-hashtag {
  padding-right: 10px;
}
.app-author {
  display: flex;
  justify-content: center;
  margin: 0px;
}

.app-quote {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  /* left: 50%;
  transform: translateX(-50%); */
  text-align: center;
  font-size: 18px;
  margin: 0 50px;
  background-color: #ffffffc9;
  padding: 5px;
}

#polaroid {
  width: 520px;
  height: 620px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 1px;
}

@media only screen and (max-width: 768px) {
  #polaroid {
    zoom: 0.7;
  }
}

.polaroid-icon-spin {
  height: 662px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bg-green-light {
  background-color: #2111d0;
  background-image: url("https://www.transparenttextures.com/patterns/subtle-stripes.png");
}

.bg-initial {
  background-color: floralwhite;
  background-image: url("https://www.transparenttextures.com/patterns/light-gray.png");
}

.bg-pink {
  background-color: pink;
  background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
}

.bg-purple {
  background-color: rgb(56, 168, 153);
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

.bg-brown {
  background-color: brown;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
}

.bg-rosa {
  background-color: rosybrown;
  background-image: url("https://www.transparenttextures.com/patterns/gray-floral.png");
}

.bg-floralwhite {
  background-color: floralwhite;
}
.bg-green {
  background-color: #00c9ac;
  background-image: url("https://www.transparenttextures.com/patterns/flowers.png");
}
.bg-orange {
  background-color: #ffd29c;
  background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
}
.bg-light-pink {
  background-color: #f4cae0;
  background-image: url("https://www.transparenttextures.com/patterns/lyonnette.png");
}
.bg-spot {
  background-color: #bb94a9;
  background-image: url("https://www.transparenttextures.com/patterns/notebook.png");
}
.bg-natural {
  background-color: #e263af;
  background-image: url("https://www.transparenttextures.com/patterns/sandpaper.png");
}
.bg-generic {
  background-color: #ffc9bc;
  background-image: url("https://www.transparenttextures.com/patterns/skulls.png");
}
